
<div class="container d-flex justify-content-center">
    <h3>Inscribete a algunas de las siguientes actividades</h3>
</div>
  <div class="container d-flex  justify-content-md-between ">
    <div class="activity col-md-6" >
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Reciclaje</strong>
            <h3 class="mb-0">Limpieza en playa portete</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">con esta actividad todo lo que queres es hacer </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img width="200" height="250" src="images/ambiental/minga.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="activity col-md-6" >
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Reciclaje</strong>
            <h3 class="mb-0">Limpieza en playa portete</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">con esta actividad todo lo que queres es hacer </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img width="200" height="250" src="images/ambiental/minga.jpg" alt="">
          </div>
        </div>
      </div>
  </div>
